<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form method="post"> {% csrf_token %}
  <label for="fname">First Number :</label><br>
  <input type="text" id="fname" name="fn" ><br>
  <label for="lname">Second Number :</label><br>
  <input type="text" id="lname" name="sn"><br><br>
  <select name="opr">
    <option value="+">Add</option>
    <option value="-">Sub</option>
    <option value="*">Mul</option>
    <option value="/">Div</option>
  </select>
  <button type="submit">Calculate</button><br>
  <label>Output : </label>
  <input type="text" value="{{o}}">
</form> 

</body>
</html>